@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

.light {
	background-color: white;
	color: black;

	& button {
		border: 2px solid black;
		padding: 4px;
		border-radius: 4px;

		&:disabled {
			background-color: green;
		}
	}
}

.dark {
	background-color: black;
	color: white;

	& button {
		border: 2px solid white;
		padding: 4px;
		border-radius: 4px;

		&:disabled {
			background-color: green;
		}
	}
}

.pokemonContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.pokemonCard {
	width: 240px;
	height: 336px;
	border-radius: 15px;
	position: relative;
}

.dark .pokemonCard {
	background-color: white;

	& h1 {
		color: black;
	}
}

.light .pokemonCard {
	background-color: black;

	& h1 {
		color: white;
	}
}

.pokemonCard img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.pokemonCard h1 {
	position: absolute;
	bottom: 0;
	padding: 15px;
}

.link {
	text-decoration: underline;
	color: blue;
}

.header {
	padding: 20px 0;
}
